name: sync-to-s3
on:
  push:
    branches: [ main ]

permissions:
  id-token: write   # OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::534109703482:role/GitHubActionsS3Role
          aws-region: us-west-2

      - run: |
          aws s3 sync . s3://${{ secrets.S3_BUCKET_NAME }}/ \
            --exclude '.git/*' \
            --exclude '.github/workflows/*' \
            --endpoint-url https://vpce-088aaccdb8d70df21.s3.us-west-2.vpce.amazonaws.com